window {
    margin: 0px;
    border: 1px solid #EAD2AC;
    background-color: #110325;
}

#input {
    margin: 5px;
    border: none;
    color: #EAF2EF;
    background-color: #090213;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #110325;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #110325;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #EAF2EF;
} 

#entry:selected {
    background-color: #2B095D;
}
